body {background-color: black;}
h1{color:grey;
  font-size: 25px;
  text-indent: -3em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;}
div{ background-color: white;
      color: black;
      width: 300px;
      padding: 20px;
      padding-left: 105px;
      padding-right: 70px;
      border-radius: 25px;
      margin: 0 auto;
      
      font-family: Arial, Helvetica, sans-serif;
}

footer{
  text-indent: -4.5em;
  font-size: 15px;
}

#years{
  width: 40px;
}


label {
    display: inline-block;
    width:100px;
    text-align: left;
}
